@{
    DateTime myTime = DateTime.Now;
}
@model ChatMVCCore.Models.MessageModel

<div class="messageBox">
    <div class="row">
        <div class="col-6">
            <ul id="messagesList" style="list-style:none"></ul>
        </div>
    </div>
</div>
