@model ChatMVCCore.Models.MessageModel
<head>
    <script src="~/js/Chat.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
</head>

<body style="background-color:lightgrey">
    <div class="container p-2 shadow" style="background-color:white">
        <form>
            <table class="table table-bordered border-danger align-content-center">
                <tr>
                    <td>Sender:</td>
                    <td colspan="2">@Html.TextBoxFor(x => x.Sender, new { id = "senderName"})</td>
                </tr>
                <tr>
                    <td colspan="3">@{await Html.RenderPartialAsync("_ChatBox");}</td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td>@Html.TextBoxFor(x => x.MessageDetails.MessageContent, new { id = "messageContent"}) </td>
                    <td><input type="button" value="Send" id="SendMessage" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>